In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.3.4'

In [30]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz')
len(df)

630918

In [35]:
## Read Zone Lookup file
zone_df = pd.read_csv('taxi+_zone_lookup.csv')
len(zone_df)

265

In [4]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://root:root@localhost:5018/ny_taxi')

In [24]:
##Get green trip data schema
script = pd.io.sql.get_schema(df, name='green_trip_data', con=engine)
create_table_script = script.replace('CREATE', 'DROP TABLE IF EXISTS green_trip_data;\n CREATE')

print(create_table_script)

DROP TABLE IF EXISTS green_trip_data;
 CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [33]:
##Get zones schema
zone_script = pd.io.sql.get_schema(zone_df, name='taxi_zones', con=engine)
zone_script = zone_script.replace('CREATE', 'DROP TABLE IF EXISTS taxi_zones; CREATE')
print(zone_script)

DROP TABLE IF EXISTS taxi_zones; CREATE TABLE taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [34]:
## create tables
with engine.connect() as conn:

    conn.execute(create_table_script)
    conn.execute(zone_script)

In [37]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [17]:
from time import time

In [38]:
while True: 
    try: 

        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
        df.to_sql(name='green_trip_data', con=engine, if_exists='append', index=False)

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print('Iteration Ended')
        break

inserted another chunk, took 17.781 second
inserted another chunk, took 18.897 second
inserted another chunk, took 16.413 second
inserted another chunk, took 16.915 second
inserted another chunk, took 16.420 second
inserted another chunk, took 16.806 second
inserted another chunk, took 5.216 second
Iteration Ended

In [39]:
##insert zones data
zone_df.to_sql(name='taxi_zones', con=engine, if_exists='replace', index=False)

265